# Model: Predict if the Best nba team will win a given game

Aim of this modle is to predict if the best team is going to win or not the game
The best team is the team with the best win ratio.

## Library import

In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import requests

pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

## Team Names for one season

In [6]:
import os
import datetime
os.getcwd()

'/Users/yannickflores/Perso Project/foreshadownba/foreshadwownba-data-engineering-pipeline'

In [8]:
datetime.datetime.today().strftime('%Y-%m-%d')

'2022-01-20'

In [5]:
test = pd.read_csv('./pipeline_output/backup_dataset/schedules_training_dataset_2022-01-19 17:19:38.098995.csv')
test.head()

,id_season,tm,game_date,time_start,extdom,opponent,w_l,overtime,pts_tm,pts_opp,w_tot,l_tot,streak_w_l
0,2001,ATL,2000-11-02,7:30p,@,New York Knicks,L,NaN,69,94,0,2,L 2
1,2001,ATL,2000-11-04,7:30p,NaN,Orlando Magic,L,NaN,104,107,0,3,L 3
2,2001,ATL,2000-11-06,10:00p,@,Vancouver Grizzlies,L,NaN,87,97,0,4,L 4
3,2001,ATL,2000-11-07,10:00p,@,Portland Trail Blazers,L,NaN,88,97,0,5,L 5
4,2001,ATL,2000-11-09,9:00p,@,Phoenix Suns,L,NaN,79,88,0,6,L 6